* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.router {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
.buttonContainer div {
  flex-grow: 1;
}
.add {
  padding: 5px 15px;
  background-color: #30a7d7;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 1rem 0;
}
.add:hover {
  background-color: #1b82b1;
}
.clearAll {
  border: none;
  outline: none;
  background: transparent;
  color: #ff3232;
  font-weight: bold;
}
.clearAll:hover {
  color: #ff4c4c;
}

.input {
  border: none;
  border-bottom: 2px solid black;
  padding: 10px 5px 2px 5px;
}

.navBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 300px;
  z-index: 999;
  background-color: #e8e8e8;
}
.navLink {
  flex-grow: 1;
  text-align: center;
  padding: 15px;
}
.navBar .active {
  background-color: white;
}
.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user {
  display: flex;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
}
.user div {
  flex-grow: 1;
}
.user .text {
  text-align: left;
  margin-left: 20px;
}
.user .removeButtonContainer {
  text-align: right;
}
.removeButton {
  outline: none;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.removeButton:hover {
  color: rgba(0, 0, 0, 0.7);
}

.activityContainer {
  margin-top: 3.3rem;
  width: 300px;
  height: 400px;
}

.activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
}
